@{
    ViewBag.Title = "Contact Details";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Gecoasia,<br />
    BGC, Taguig,<br />
    Philippines <br />
       +63 9175707404 <br />
    

</address>

