@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Web API CRUD</h1>
    <p class="lead">Hi, I have created MVC application and connect with Web API and see all CRUD actions</p>
    <p>By Paolo Barbosa</a></p>
</div>

